@charset "UTF-8";
*{
    height: max-content;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, rgb(87, 0, 114), #ac00fc);
}
p{
    text-align: justify;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #53183f79;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #0f00dd;
    text-align: center;
    text-shadow: 1px 1px 2px #0003cc85 ;
}
h2{
    color: #009292;
}